.mainStyle {
    width: 250px;
    height: 200px;
    background-color: white;
    border: solid rgb(14, 142, 173) 1px;
}

.converter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.name {

}

.symbol{
    display: flex;
    align-items: flex-end;
}

.input {
    width: 150px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
}
.result {
    width: 150px;
    height: 25px;
    border-radius: 3px;
    background-color: rgb(233, 232, 232);
}

.addButton {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}