.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, .6);
  }
  
  .overlayCentered {
    justify-content: center;
  }
  
  .modal {
    min-width: 500px;
    margin: 40px auto;
    padding: 32px;
    background-color: white;
    border-radius: 16px;
    outline: none;
  
    &.landing {
      min-width: 304px;
      padding: 16px;
    }
  }
  
  .iconWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--color-blue-10);
    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease-out;
  
    &:hover {
      background-color: var(--color-blue-15);
  
      .icon {
        color: var(--color-black-primary);
      }
    }
  
    &:active {
      background-color: var(--color-blue-dark);
  
      .icon {
        color: var(--color-white-primary);
      }
    }
  }
  
  .icon {
    width: 20px;
    height: 20px;
    color: var(--color-grey-dark);
    transition: all .15s ease-out;
  }
  
  :global {
  
    .ReactModal__Body--open {
      overflow: hidden;
    }
  
    .ReactModal__Overlay {
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  
    .ReactModal__Overlay--after-open {
      opacity: 1;
    }
  
    .ReactModal__Overlay--before-close {
      opacity: 0;
    }
  
    .ReactModal__Content {
      transform: scale(0);
      transition: all .3s ease-in-out;
    }
  
    .ReactModal__Content--after-open {
      transform: scale(1);
    }
  
    .ReactModal__Content--before-close {
      transform: scale(0);
    }
  }
  
 